[project]
	description = This repository contains a set of common used config files. e.g. ~/.vimrc, ~/.tmux and ~/.zsh.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/belzerus
[access "refs/for/refs/*"]
	read = group user/belzerus
	push = group user/belzerus
	label-Code-Review = -2..+2 group user/belzerus
	label-Verified = -1..+1 group user/belzerus
	rebase = group user/belzerus
	removeReviewer = group user/belzerus
	submit = group user/belzerus
[access "refs/heads/*"]
	read = group user/belzerus
	create = group user/belzerus
	push = +force group user/belzerus
	pushMerge = group user/belzerus
[access "refs/tags/*"]
	push = +force group user/belzerus
	pushTag = group user/belzerus
	pushSignedTag = group user/belzerus
